﻿@{
    ViewData["Title"] = "Home Page";
}

<h3 style="color:red">@TempData["Message"]</h3>


<h1>Login Page</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                <div class="form-group mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="pass" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
         
        </div>
    </div>
</div>