﻿@using BussinessObject.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student

<h2>Product Details</h2>

<div>
    <h4>Product Id: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
        <dt class="col-sm-2">Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth</dd>
        <dt class="col-sm-2">GroupId</dt>
        <dd class="col-sm-10">@Model.GroupId</dd>
       
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
