﻿@using BussinessObject.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Student>
@{
    ViewData["Title"] = "Index";
    string keyword = ViewData["keyword"] as string;
}

<h2>Product List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="Search" method="get">
    <input type="text" id="propertyName" name="SearchValue" class="form-control" />
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<form asp-action="SearchDate" method="get">
    <input type="date" id="propertyName" name="SearchValue" class="form-control" />
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Birth</th>
            <th>GroupId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Email</td>
                <td>@product.FullName</td>
                <td>@product.DateOfBirth</td>
                <td>@product.GroupId</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>|
                    <a asp-action="Detail" asp-route-id="@product.Id">Detail</a>|
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
